.color {
    color: #864bc4;
    color: #6d68f9;
    color: #53535c;
    color: #7975fb;
    color: #cac9de;
    color: #6675ff;
    color: #ebebf3;
    color: #f0f0f0;
    color: #ededed;
    color: #f1b308f2;
    color: #f8f8fb;
    color: #5257f6;
}
/* #ffb917 */
/* #9269bd */