.color {
    color: #864bc4;
    color: #6d68f9;
    color: #5a54fa;
    color: #7975fb;
    color: #8783fa;
    color: #6675ff;
    color: #ebebf3;
    color: #f0f0f0;
    color: #ededed;
}

/* #9269bd */